[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Debian image builder for single board computers
[access "refs/*"]
	owner = group user/re2zero (re2zero)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/re2zero (re2zero)
	label-Verified = -1..+1 group user/re2zero (re2zero)
	push = group user/re2zero (re2zero)
	read = group user/re2zero (re2zero)
	rebase = group user/re2zero (re2zero)
	removeReviewer = group user/re2zero (re2zero)
	submit = group user/re2zero (re2zero)
[access "refs/heads/*"]
	create = group user/re2zero (re2zero)
	push = +force group user/re2zero (re2zero)
	pushMerge = group user/re2zero (re2zero)
	read = group user/re2zero (re2zero)
[access "refs/tags/*"]
	push = group user/re2zero (re2zero)
	push = +force group user/re2zero (re2zero)
